.font-tiny{
    font-size: 7px;
}

.font-xs{
    font-size: 0.5vmax;
}

.font-sm {
    font-size: calc(var(--ratio) * 0.8vw);
}

.font-normal {
    font-size: calc(var(--ratio) * 0.9vw);
}

.font-medium {
    font-size: calc(var(--ratio) * 1.2vw);
}

.font-big {
    font-size: calc(var(--ratio) * 1.3vw);
}

.font-bigger {
    font-size: 18px;
}

.font-ext-bigger {
    font-size: calc(var(--ratio) * 2vw);
    line-height: 1.1;
}

