:root {
    --cus-orange: #FF7427;
    --cus-blue: #416AFF;
    --cus-green: #00FF19;
    --dark-black: #1B1B1B;
    --cus-black-100: #1B1B1B;
    --cus-black-80: #252525;
    --cus-black-70: #1C1C1C;
    --cus-white-90: #E6E6E6;
    --cus-gray-100: #838F9B;
    --cus-gray-20: #838f9b4b;
    --cus-danger: #FF0000;
    --cus-pink: #F75151;
    --cus-indigo: #41B9FD;
    --cus-radius: 20px;
    --grid-radius: 12px;
    --ideal-screen-width: 1920;
    --ideal-screen-height: 1080;

    --default-bar-color: #393e44;
    --bar-color: linear-gradient(to right, var(--cus-green), var(--cus-pink));
    --bar-column: 7;

    --value-1: calc(100% - (1 * 100% / var(--bar-column)));
    --value-2: calc(100% - (2 * 100% / var(--bar-column)));
    --value-3: calc(100% - (3 * 100% / var(--bar-column)));
    --value-4: calc(100% - (4 * 100% / var(--bar-column)));
    --value-5: calc(100% - (5 * 100% / var(--bar-column)));
    --value-6: calc(100% - (6 * 100% / var(--bar-column)));
    --value-7: calc(100% - (7 * 100% / var(--bar-column)));
  }

  .footer{
    width: 100vw;
    height: calc( (120 / var(--ideal-screen-height)) * 100% );
    top: calc( (960 / var(--ideal-screen-height)) * 100% );
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-grid{
    width: calc( (1820 / var(--ideal-screen-width)) * 100% );
    height: calc( (120 / var(--ideal-screen-height)) * 100% );
    top: calc( (960 / var(--ideal-screen-height)) * 100% );
    left: 50%;
    transform: translateX(-50%);
  }

  .automatic-grid-1{
    width: calc( (287 / var(--ideal-screen-width)) * 100% );
    height: calc( (146 / var(--ideal-screen-height)) * 100% );
    top: calc( (26 / var(--ideal-screen-height)) * 100% );
    left: calc( (50 / var(--ideal-screen-width)) * 100% );
  }

  .automatic-grid-2{
    width: calc( (1360 / var(--ideal-screen-width)) * 100% );
    height: calc( (146 / var(--ideal-screen-height)) * 100% );
    top: calc( (26 / var(--ideal-screen-height)) * 100% );
    left: calc( (357 / var(--ideal-screen-width)) * 100% );
  }

  .automatic-grid-3{
    width: calc( (133 / var(--ideal-screen-width)) * 100% );
    height: calc( (146 / var(--ideal-screen-height)) * 100% );
    top: calc( (26 / var(--ideal-screen-height)) * 100% );
    left: calc( (1737 / var(--ideal-screen-width)) * 100% );
  }

  .automatic-grid-4{
    width: calc( (593 / var(--ideal-screen-width)) * 100% );
    height: calc( (399 / var(--ideal-screen-height)) * 100% );
    top: calc( (192 / var(--ideal-screen-height)) * 100% );
    left: calc( (50 / var(--ideal-screen-width)) * 100% );
  }

  .automatic-grid-5{
    width: calc( (287 / var(--ideal-screen-width)) * 100% );
    height: calc( (399 / var(--ideal-screen-height)) * 100% );
    top: calc( (192 / var(--ideal-screen-height)) * 100% );
    left: calc( (663 / var(--ideal-screen-width)) * 100% );
  }

  .automatic-grid-6{
    width: calc( (900 / var(--ideal-screen-width)) * 100% );
    height: calc( (98 / var(--ideal-screen-height)) * 100% );
    top: calc( (192 / var(--ideal-screen-height)) * 100% );
    left: calc( (971 / var(--ideal-screen-width)) * 100% );
  }
  .automatic-grid-7{
    width: calc( (900 / var(--ideal-screen-width)) * 100% );
    height: calc((98 / var(--ideal-screen-height)) * 100% );
    top: calc( (310 / var(--ideal-screen-height)) * 100% );
    left: calc( (971 / var(--ideal-screen-width)) * 100% );
  }
  .automatic-grid-8{
    width: calc( (900 / var(--ideal-screen-width)) * 100% );
    height: calc((77 / var(--ideal-screen-height)) * 100% );
    top: calc( (427 / var(--ideal-screen-height)) * 100% );
    left: calc( (971 / var(--ideal-screen-width)) * 100% );
  }
  .automatic-grid-9{
    width: calc( (593 / var(--ideal-screen-width)) * 100% );
    height: calc((330 / var(--ideal-screen-height)) * 100% );
    top: calc( (611 / var(--ideal-screen-height)) * 100% );
    left: calc( (50 / var(--ideal-screen-width)) * 100% );
  }
  .automatic-grid-10{
    width: calc( (287 / var(--ideal-screen-width)) * 100% );
    height: calc((330 / var(--ideal-screen-height)) * 100% );
    top: calc( (611 / var(--ideal-screen-height)) * 100% );
    left: calc( (662 / var(--ideal-screen-width)) * 100% );
  }
  .automatic-grid-11{
    width: calc( (900 / var(--ideal-screen-width)) * 100% );
    height: calc((416 / var(--ideal-screen-height)) * 100% );
    top: calc( (524 / var(--ideal-screen-height)) * 100% );
    left: calc( (970 / var(--ideal-screen-width)) * 100% );
  }

  html{
    background: var(--dark-black);
  }
  
  body{
    font-family: 'Work Sans', sans-serif;
    background: var(--dark-black);
  }
  
h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

button{
  outline: none;
  border: none;
}

.my-box{
  /* padding: 2.60% 2.40%; */
}

.cus-border{
  border: 1px solid var(--cus-gray-20);
}

.flex-1{
  flex: 1 1 0%;
}

.flex-none{
  flex: none;
}
  /* background color */
  .cus-orange-bg{
    background-color: var(--cus-orange)
  }
  .cus-blue-bg{
    background-color: var(--cus-blue)
  }
  .cus-green-bg{
    background-color: var(--cus-green)
  }
  .dark-black-bg{
    background-color: var(--dark-black)
  }
  .cus-black-100-bg{
    background-color: var(--cus-black-100)
  }
  .cus-black-80-bg {
    background-color: var(--cus-black-80);
}
  .cus-black-70-bg{
    background-color: var(--cus-black-70)
  }
  .cus-white-90-bg{
    background-color: var(--cus-white-90)
  }
  .cus-gray-100-bg{
    background-color: var(--cus-gray-100)
  }
  .cus-gray-20-bg{
    background-color: var(--cus-gray-20)
  }
  .cus-danger-bg{
    background-color: var(--cus-danger)
  }
  .cus-pink-bg{
    background-color: var(--cus-pink)
  }
  .cus-indigo-bg{
    background-color: var(--cus-indigo)
  }

  /* text color */
  .cus-orange-text{
    color: var(--cus-orange)
  }
  .cus-blue-text{
    color: var(--cus-blue)
  }
  .cus-green-text{
    color: var(--cus-green)
  }
  .dark-black-text{
    color: var(--dark-black)
  }
  .cus-black-100-text{
    color: var(--cus-black-100)
  }
  .cus-black-80-text{
    color: var(--cus-black-80)
  }
  .cus-black-70-text{
    color: var(--cus-black-70)
  }
  .cus-white-90-text{
    color: var(--cus-white-90)
  }
  .cus-gray-100-text{
    color: var(--cus-gray-100)
  }
  .cus-gray-20-text{
    color: var(--cus-gray-20)
  }
  .cus-danger-text{
    color: var(--cus-danger)
  }
  .cus-pink-text{
    color: var(--cus-pink)
  }
  .cus-indigo-text{
    color: var(--cus-indigo)
  }

  .border-cus-green{
    border: 1px solid var(--cus-green)
  }

.border-b-gray{
  border-bottom: 1px solid var(--cus-gray-20)
}
  .cus-radius{
    border-radius: var(--cus-radius);
  }

  /* progress bar start */
  .bar{
    background-color: var(--cus-black-80);
    padding: 16px;
  }

  .cus-progress-bar::after{
    position: absolute;
    content: '';
    background-color: var(--default-bar-color);
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
  }

  .cus-progress-bar > div{
    width: calc(100% / ((var(--bar-column) - 1) + var(--bar-column)));
    height: 100%;
    position: relative;
    z-index: 10;
  }

  .cus-progress-bar > div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    width: calc(100% + 2px);
    height: 80%;
    background-color: var(--cus-black-80);
  }

  .cus-progress-bar > div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: calc(100% + 1px);
    height: 100%;
    background: var(--cus-black-80);
  }

  .cus-progress-bar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
    position: relative;
    z-index: 0;
    background: var(--bar-color);
    margin: 20px 0;
  }

  .cus-progress-bar > div:nth-child(1)::after{
    height: var(--value-1);
  }
  .cus-progress-bar > div:nth-child(2)::after{
    height: var(--value-2);
  }
  .cus-progress-bar > div:nth-child(3)::after{
    height: var(--value-3);
  }
  .cus-progress-bar > div:nth-child(4)::after{
    height: var(--value-4);
  }
  .cus-progress-bar > div:nth-child(5)::after{
    height: var(--value-5);
  }
  .cus-progress-bar > div:nth-child(6)::after{
    height: var(--value-6);
  }
  .cus-progress-bar > div:nth-child(7)::after{
    height: var(--value-7);
  }

  .progress-1::after {
    width: var(--value-1);
  }
  .progress-2::after {
    width: var(--value-2);
}
  .progress-3::after {
    width: var(--value-3);
}
  .progress-4::after {
    width: var(--value-4);
}
  .progress-5::after {
    width: var(--value-5);
}
  .progress-6::after {
    width: var(--value-6);
}
  .progress-7::after {
    width: var(--value-7);
}

/* progress bar end */
/* text-whiteh-100% */
.grid-box{
  background: var(--cus-black-80);
  border-radius: var(--grid-radius);
  padding: 16px;
  height: 100%;
}

.field-radious{
  border-radius: 16px;
}

.round-field,.bar-rounded-field,.progress-bar-field{
  display: block;
  background: var(--dark-black);
  padding: 6px 24px;
  border-radius: 16px;
}

.bar-rounded-field,.progress-bar-field{
  padding: 6px 10px !important;
}

.combined.active{
  color: var(--cus-green);
}

.combined:hover{
  color: var(--cus-green);
}

.menu{
  border-radius: var(--cus-radius);
  background: var(--cus-white-90);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.menu > svg{
  width: 30px;
}

.progress-bar-field{
  margin-top: 6px;
  font-weight: lighter;
  text-align: center;
  border-radius: var(--grid-radius);
}

/* automatic time zone */

.automatic-time > .clock{
  width: 30px;
  color: var(--cus-gray-100);
}

.agua{
  height: 56px;
  width: 14px;
  border-radius: 1000px;
  border: 1px solid black;
  background: black;
  position: relative;
  overflow: hidden;
}

.agua > div{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--cus-blue);
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}



